.fade-enter {
  opacity: 0;
  transition: all 1s;
}

.fade-enter-active {
  opacity: 1;

}

.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: 800ms;
}
.open-enter {
  opacity: 0;
  overflow: hidden;
  max-height: 0px;
}

.open-enter-active {
  overflow: hidden;
  max-height: 1000px;
  opacity: 1;
  transition-delay: 200ms;
  transition:1300ms;
}

.open-exit {
  opacity: 1;
  max-height: 1000px;
}
.open-exit-active {
  opacity: 0;
  transition-delay: 200ms;
  transition: 1300ms;
  max-height:0px;
  overflow: hidden;
}



.object-fade {
  animation: fadeIn 1s ease-in-out;
}



.spinner-container {
  height:100%;
  width: 100%;
  background-color: $background-white;
  opacity: 1;
  z-index: 100;
  position: fixed;
}
