a:hover {
  cursor: pointer;
}
button{
  border: none;
  color: inherit;
  border-radius: 0;
}
button:hover {
  cursor: pointer;
}
.button-primary {
  padding: 10px;
  background-color: $background-white;
  border: 3px solid $button-primary;
  font-size: 18px;
  color: $text-default;
}
.button-primary:hover {
  background-color: $button-primary;
  color: $text-inverse;
}

.button-long {
  width: 60%;
  max-width: 200px;
}
.button-action {
  background-color: $button-primary;
  color: $text-inverse;
  transition: .3s;
  box-shadow: 1px 0px 4px $background-grey;
}
.button-action:first-child {
  background-color: $background-transparent;
}
.button-action:hover {
  background-color: $button-primary-hover;
  color: $text-inverse;
}
.button-action:active {
  box-shadow: 0px 0px 1px $background-grey;
}
.button-exit {
  color: $text-inverse;
  display: inline-block;
  margin:10%;
}
.button-exit:first-child {
  background-color: $background-transparent;
}


.left-button, .right-button {
  position: absolute;
  top: 30%;
  font-size: 80px;
  z-index: 100;
  color: $button-primary;
}
.left-button:hover, .right-button:hover{
  cursor: pointer;
}
.left-button {
  left: -40px;
}
.right-button {
  right: -40px;
}
