//figures
.divider-colored {
  border-color: $background-secondary;
  background-color: $background-secondary;
  width: 50%;
  max-width: 400px;
  border-style: solid;
  height: 1px;
}

.link-underline {
  width: 1px;
  max-width: 200px;
  height: 1px;
  opacity: 0;
  border-style: solid;
  transition-duration: .3s;
}

.hover-highlight:hover {
  cursor: pointer;
  .link-underline {
    height: 1px;
    width: 80%;
    opacity: 1;
  }
}

.vertical-dash {
  color: $background-primary;
  margin: .5em;
  font-size: 24px;
}


.triangle {
  position: absolute;
  bottom: 0;
  right:0;
  height: 100%;
  width: 80%;
  min-width: 800px;
  background-color: $background-primary;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: polygon(0% 100%, 100% 100%, 0% 0%);
  transform: rotateY(180deg);
  z-index: 0;
}
.triangle-left {
  position: absolute;
  bottom: 0;
  left:0;
  height: 100%;
  width: 80%;
  min-width: 800px;
  background-color: $background-primary;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: polygon(0% 100%, 100% 100%, 0% 0%);
  z-index: 0;
}
.display-box{
  height: auto;
  width: 90%;
  min-width: 350px;
  max-width: 700px;
  background-color: $background-white;
  box-shadow: 0px 0px 5px;
  padding: 3%;
  margin-bottom: 100px;
  margin-top: 50px;
  .inner-box {
    border: 2px solid $background-primary;
    height:100%;
    width:99%;
    padding: 50px 0;
  }
}
.project-display-box {
  height: auto;
  width: 90%;
  min-width: 400px;
  max-width: 1000px;
  background-color: $background-white;
  box-shadow: 0px 0px 5px;
  padding: 3%;
  margin-bottom: 100px;
  margin-top: 50px;
}
.mobile_menu-header {
  text-align: right;
  h3 {
    margin: 20px;
  }
}
.mobile_menu-container {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  transition: .5s;
  background-color: $background-primary;
  z-index: 1000;
  ul {
    height: 100%;
  }
}
.menu-open{
  right: 0;
}
.menu-close {
  right: -100vw;
}
//Images
.img-presented {
  width: 80vw;
  margin: 20px 0;
}
.img-categories {
  width: 45vw;
  min-width: 400px;
}

.project_list_img-container img {
  height: 200px;
  object-fit: cover;
}
.img-skill {
  height: 75px;
  width: auto;
  margin: 10px;
}
.img-social {
  width: 50px;
  height: auto;
  margin: 5px 14px;
}
.headshot {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 200px;
  margin-top: 10vw;
  box-shadow: 0px 0px 5px;
  align-self: flex-end;
  opacity: 0;
}

.header-pic-category {
  opacity: 0;
}
.img-full_banner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index:0;
  transition: 0.5s;
  object-fit: cover;
}
.overlay-home_banner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: $background-overlay;
  z-index: 10;
}
.project_list_img-overlay{
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity:0;
  transition: opacity .5s;
  background-color: $background-secondary-trans;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.project_list_img-overlay:hover{
  opacity:1;
}
.project-list-items {
  opacity: 0;
}
.title-box{
display: block;
width: 50%;
height: 250px;
position: relative;
  #l1,#l2,#l3 {
  position: absolute;
  background: transparent;
  width: 0px;
  height: 0px;
  /*give each border a background color of black in css so that you don't need to animate it*/
  background-color:$background-primary-trans;
  }
  #l1 {
  left: 0;
  top: 12px;
  height: 200px;
  width: 12px;
}

#l2 {
  top: 0;
  left: 0;
  width: 200px;
  height: 12px;
}

#l3 {
  bottom: 0;
  left: 12px;
  width: 200px;
  height: 12px;
}
}
#titleName, #titleQuote {
  opacity: 0;
  margin-left: 20%;
}
  .img-project_preview {
    height:auto;
    width: 250px;
    object-fit: cover;
  }
  .project_preview-slider {
    width: 70%;
    min-height: 200px;
    position: relative;
  }
