body{
  color: $text-default;
}

//text
h1, h2, h3{
  font-family: $title-text;
  font-weight: 300;
  color: inherit;
}
h4, h5, p, a {
  font-family: $read-text;
  font-weight: 300;
}
h1 {
  font-size: 48px;
  line-height: 54px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
p {
  font-size: 14px;
  line-height: 24px;
}
ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
}


.text-inverse {
  color: $text-inverse;
}
button:focus {
  outline: none;
}

.hidden {
  opacity: 0;
}

//elements

.footer-container {
  background-color: $background-dark;
}
.project-pane {
  background-color: $background-primary;
}
.background-colored {
  background-color: $background-primary;
}


.active {
  .link-underline {
    width: 80%;
    opacity: 1;
  }
}


.nav-side {
 a {
   margin: .2em;
 }
}
