//colors
$blue: #362D41;
$white: rgb(255,255,255);
$white-trans: rgba(255,255,255,.5);
$transparent: rgba(0,0,0,0);
$grey: rgb(90,90,90);
$grey-trans: rgba(90,90,90,.2);
$orange: #F07965;
$orange-trans: rgba(240, 89, 65, .6);
$red-trans: rgba(135, 35, 65, .6);
$red: #872341;
$rorange: #BE3144;



//backgrounds
$background-primary: $orange;
$background-primary-trans: $orange-trans;
$background-secondary: $orange;
$background-secondary-trans: $red-trans;
$background-white: $white;
$background-white-trans: $white-trans;
$background-dark: $blue;
$background-grey: $grey;
$background-grey-trans: $grey-trans;
$background-transparent: $transparent;
$background-overlay: $grey-trans;


//text
$text-inverse: $white;
$text-default: $grey;
$title-text: 'Saira Semi Condensed', sans-serif;
$read-text: 'Slabo 27px', serif;
$text-active: $red;

//buttons
$button-primary: $red;
$button-primary-hover: $rorange;




//Imports
@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed|Slabo+27px');
